@media (max-width: 800px) {
    .files-list td:nth-last-child(-n + 2),
    .files-list th:nth-last-child(-n + 2){
        overflow: hidden;
        width: 0 !important;
        font-size: 0;
        padding: 0;
    }
}

body{
    background-image: linear-gradient(180deg, var(--black-005) 0%, transparent 25%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

img{
    border-radius: 4px;
}

button, .button, input, select, dialog{
    border-radius: 4px;
}

textarea{
    resize: vertical;
}

.points-list tr:hover{
    transform: scale(1.01);
    transition: 0.1s;
}

*:hover{
    transition: 0.2s;
}

.primary{
    background-color: var(--primary-bg) !important;
    color: var(--primary-fg) !important;
}

button, .button, input[type="submit"]{
    border: 1px solid var(--black-02);
    background-color: var(--black-02);
    color: var(--fg);
    padding: 4px 16px 4px 16px;
    font-size: 16px;
    text-align: center;
}

button:hover, .button:hover, input[type="submit"]:hover, select:hover{
    box-shadow: inset 0 0 1000px 1000px var(--white-05);
}

dialog{
    background-color: var(--bg);
    color: var(--fg);
}

input, select, textarea{
    padding: 6px;
    border: 1px solid var(--black-02);
    background-color: var(--bg);
    color: var(--fg);
}

.files-list td{
    outline: none;
    box-shadow: none;
    user-select: none;
}
