/* ICON FONTS */

span[class^="icon-"], span.folder {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
}

span[class^="icon-"]::after {
    font-family: 'symbols-mono';
    color: var(--bin-file);
    content: "";
}

span.folder::after {
    font-family: 'symbols-mono';
    color: var(--folder);
    content: "";
}

span.icon-msg::after, span.icon-txt::after, span.icon-tex::after, span.icon-rtf::after, 
span.icon-ini::after, span.icon-odt::after{
    color: var(--text-file);
    content: "";
}

span.icon-jpg::after, span.icon-jpeg::after, span.icon-png::after, span.icon-apng::after, 
span.icon-gif::after, span.icon-svg::after, span.icon-avif::after, span.icon-ico::after{
    color: var(--img-file);
    content: "󰋩";
}

span.icon-flv::after, span.icon-mp4::after, span.icon-m3u8::after, span.icon-ts::after, 
span.icon-3gp::after, span.icon-mov::after, span.icon-avi::after, span.icon-wmv::after,
span.icon-mkv::after, span.icon-webm::after{
    color: var(--video-file);
    content: "";
}

span.icon-html::after, span.icon-xml::after, span.icon-mml::after, span.icon-xsd::after, 
span.icon-rss::after, span.icon-php::after{
    color: var(--xml-file);
    content: "";
}

span.icon-sh::after, span.icon-cmd::after, span.icon-bat::after, span.icon-ps1::after{
    color: var(--shell-file);
    content: "";
}

span.icon-wav::after, span.icon-aifc::after, span.icon-aiff::after, span.icon-mp3::after, 
span.icon-m4a::after, span.icon-mp2::after, span.icon-ogg::after, span.icon-mid::after{
    color: var(--audio-file);
    content: "󰝚";
}

span.icon-zip::after, span.icon-7z::after, span.icon-bz2::after, span.icon-docx::after, 
span.icon-gz::after, span.icon-jar::after, span.icon-tar::after{
    color: var(--zip-file);
    content: "󰗄";
}

span.icon-lll{
    content: url("/static/icons/files/librelists.svg");
}

span.icon-lnk::after{
    color: var(--lnk-file);
    content: ""
}

span.icon-pdf::after{
    color: var(--pdf-file);
    content: ""
}

span.icon-js::after{
    color: var(--js-file);
    content: "";
}

span.icon-json::after{
    color: var(--json-file);
    content: "";
}


span.icon-css::after{
    color: var(--css-file);
    content: "";
}

span.icon-py::after{
    color: var(--py-file);
    content: "";
}

span.icon-md::after{
    color: var(--md-file);
    content: "";
}

span.icon-db::after, span.icon-sql::after{
    color: var(--db-file);
    content: "";
}

span.icon-license::after, span.icon-copying::after{
    color: var(--text-file);
    content: "󰿃";
}

span.icon-gitignore::after{
    color: var(--git-file);
    content: "";
}

span.icon-point::after{
    color: var(--point-file);
    content: "󰀃";
}

span.icon-c::after{
    color: var(--c-file);
    content: "";
}

span.icon-cpp::after{
    color: var(--c-file);
    content: "";
}
