{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/css/admin.css">
{% endblock %}

{% block title %}Admin - More Points{% endblock %}


{% block content %}
<header>
    <a class="title primary" href="/admin">More Points</a>
</header>
<div class="toolbar">
    <span class="title">All points</span><br>
    <a class="clickable button" onclick="createPoint()">+ Point</a>
    <a class="clickable button" href="/admin/logout">x Logout</a>
</div>
<section>
    Remember to restart FTP server (server.py) when you create or modify a point
</section>
<section class="list-view">
    <div class="toolbar">
        <input id="searchBox" type="text" placeholder="Search point">
        <button onclick="window.location.href = `/admin?search=${searchBox.value}`">Search</button>
    </div>
    <table cellspacing="0">
        <tr>
            <th style="width: 100%;">Point name</th>
            <th style="width: 10%;"></th>
        </tr>
        {% for point in points %}
            <tr>
                <td>
                    <div class="file">
                        <a href="/admin/edit_point/{{ point }}">{{ point }}</a>
                    </div>
                </td>
                <td>
                    <div>
                        <a href="/point/{{ point }}" class="clickable icon-cont" target="_blank"><span class="icon"></span></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</section>

<script>
    async function createPoint(){
        const pointname = filenamePrompt("Enter point name");
	if (pointname){
		const data = await fetch(`/admin/create_point`, {
		    method: 'POST',
		    body: JSON.stringify({
		        "pointname": pointname,
		    }),
		    headers: {"Content-type": "application/json; charset=UTF-8"}
		})
		reviewResponse(await data.json())
	}
    }
</script>
{% endblock %}
