{% extends 'base.html' %}

{% block title %} Edit {{ point }} - More Points {% endblock %}

{% block content %}
<header class="maw1000px mar0auto">
    <div>
    	<input name="action" onclick="closeTab()" type="submit" value="Go Back"/>
    </div>
    <span class="grid gtca1a acenter gap12 pad8">
        <img src="/static/icons/point_icons/{{ point_icon }}.svg" alt="{{ point }}" width="64px" height="64px">
        <p class="wwany"><b>{{ display_name }}</b> ({{ point }})</p>
        <a href="/point/{{ point }}" class="clickable icon-cont" target="_blank"><span class="icon"></span></a>
    </span>
</header>

<main class="maw1000px mar0auto flex column">
	{% for section_key, section in settings_info.items() %}
    <form section="{{ section_key }}" class="padb8">
        <fieldset>
            <legend>{{section_key}}</legend>
            <table class="w100">
                {% for key, setting in section.items() %}
                    <tr>
                        <td>
                            <label for="setting_{{ key }}"> {{ setting["display"] }} 
                                <span title="{{ setting['comment'] }}" style="color: var(--black-05);">?</span>
                            </label>
                        </td>
                        <td>
                            {% if 'options' is in(setting) %}
                                    <select name="{{ key }}" id="setting_{{ key }}" title="{{ setting['comment'] }}"
                                    {% if 'hideSections' in(setting) %}
                                        oninput="showSelectedForm(this.value, this.querySelectorAll('option'))"
                                    {% endif %}
                                    >
                                        {% for option in setting['options'] %}
                                            <option value="{{option[0]}}" {{ "selected" if option[0] == point_details.get(section_key, {}).get(key, setting['default']) else "" }}>{{option[1]}}</option>
                                        {% endfor %}
                                    </select>
                            {% elif setting['type'] == 'textarea' %}
                                <textarea name="{{ key }}" id="setting_{{ key }}" cols="30" rows="10">{{ point_details.get(section_key, {}).get(key, setting['default']) }}</textarea>
                            {% else %}
                                <input name="{{ key }}" id="setting_{{ key }}" type="{{ setting['type'] }}" title="{{ setting['comment'] }}" value="{{ point_details.get(section_key, {}).get(key, setting['default']) }}">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </fieldset>
    </form>
    {% endfor %}
</main>

<footer class="maw1000px mar0auto pad8">
    <button onclick="saveConfig()" class="button primary">Save</button>
</footer>

{% for addon in addons["point_editor"] %}
<script src="{{ addon }}" type="module"></script>
{% endfor %}

<script>

    function showSelectedForm(form, options){
        form = document.querySelector(`form[section="${form}"]`)
        for(const option of options)
            document.querySelector(`form[section="${option.value}"]`).classList.add('hidden')
        form.classList.remove('hidden')
    }

    async function saveConfig(){
        const forms = document.querySelectorAll("form")
        const config = {}

        for (const form of forms) {
            const formData = new FormData(form)
            const section = form.getAttribute("section")
            config[section] = {}
            for (const data of formData) {
                config[section][data[0]] = data[1]
            }
        }

        try {
            const data = await editFile('{{ point_admin }}', '{{ path }}', '{{ filename }}', JSON.stringify(config, null, 2))
        } catch (error) {
            popMessage("Error", error, "error")
        }
    }

    for(const e of document.querySelectorAll(`select[oninput*="showSelectedForm"]`)){
        showSelectedForm(e.value, e.querySelectorAll("option"))
    }
</script>
{% endblock %}
