{% extends 'base.html' %}

{% block content %}
<div class="login">
    <form action="/enter_site" method="post">
        <h1>Enter in site</h1>
        <p>Enter site name and password to access the site</p>

        {% if errormsg %}
                <div class="error">{{ errormsg }}</div>
        {% endif %}
        
        <input type="hidden" name="hostname" value="{{ hostname }}">
        <input type="text" name="site" placeholder="Site name" value="{{ site }}" {{ "autofocus" if not site }}>
        <input type="password" placeholder="Site password" name="password" {{ "autofocus" if site }}>
        <input type="submit" class="primary" value="Enter site">
    </form>
</div>
{% endblock %}
