{% extends 'base.html' %}

{% block title %}Welcome to More Points{% endblock %}


{% block content %}
<header class="maw1000px mar0auto">
	<h1>Welcome to More Points</h1>
	<div>
		Version: {{ ver }}
	</div>
	<hr>
	<noscript><div class="error">You should start thinking in activate javascript</div></noscript>
</header>

<main class="maw1000px mar0auto">
	<p>List of points:</p>
	<table cellspacing="0" class="list-view points-list">
		<tr>
            <th style="width: 2%;"></th>
            <th style="width: 98%;"></th>
        </tr>
		{% for point in points %}
			<tr class="item">
				<td>
					<a href="/point/{{ point['name'] }}">
						<img src="/static/icons/point_icons/{{ point['data'].get('Icon', 'no_icon') }}.svg" height="64px" alt="(X)">
					</a>
				</td>
				<td class="file">
					<div>
						<a href="/point/{{ point['name'] }}">
							<span class="site-name">
								<b>
									{{ point['data'].get('DisplayName') if point['data'].get('DisplayName', '') else point['name']  }}
								</b>
							</span>
						</a>
						<pre>{{ point['data'].get('Description', '') }}</pre>
					</div>
				</td>
			</tr>
		{% endfor %}
	</table>
</main>

{% endblock %}
