{% extends 'base.html' %}

{% set folder_name = pwd.split('/')[-1] if pwd.split('/')[-1] else 'Home' %}

{% block title %}{{ display_name }} - More Points {% endblock %}

{% block dialogs %}

{% if request.args.get('error_msg') %}
<dialog open id="error_message" class="error">
    <div>
        <p>Error: <br> {{ request.args.get('error_msg') }}</p>
        <button onclick="error_message.close()" class="primary">Ok</button>
    </div>
</dialog>
{% endif %}

<dialog id="text_editor">
    <div>
        <div class="height0" style="position: relative;">
            <button style="position: absolute; right: 0;" onclick="text_editor.close()">X</button><br>
        </div>
        <iframe src="" frameborder="0"></iframe>
    </div>
</dialog>

<dialog id="upload_file">
    <form action="/upload/{{ point }}" method="post" enctype="multipart/form-data">
        Upload:
        <input type="hidden" name="d" value="{{ pwd }}">
        <input type="file" name="file" multiple>
        <div>
            <input type="submit" class="primary" value="Upload">
            {% if legacy_mode == 'active' %}
                <button type="button" onclick="upload_file.removeAttribute('open')">Cancel</button>
            {% else %}
                <button type="button" onclick="upload_file.close()">Cancel</button>
            {% endif %}
            
        </div>
    </form>
</dialog>

{% endblock %}

{% block content %}
<header id="main_header" class="main-header">
    <img src="/static/icons/point_icons/{{ point_icon }}.svg" alt="{{ point }}" width="64px" height="64px">
    <h1 >{{ display_name }}</h1>
    {% if point_desc %}
        <a class="clickable icon-cont" onclick="alert(`{{ point_desc }}`)"><span class="icon">󰋽</span></a>
    {% endif %}
    <div style="flex: 1;"></div>
    <a href="/exit/{{ point }}" class="button">Exit</a>
</header>
<div id="toolbar" class="toolbar">
    <select class="primary" name="toolbar-new" id="toolbar-new"
        onchange="
            switch(this.value){
                case 'folder':
                    let foldername = filenamePrompt('Enter folder name')
                    if (foldername)
                        createFolder('{{ point }}', '{{ pwd }}', foldername)
                    break;
                case 'file':
                    let filename = filenamePrompt('Enter file name')
                    if (filename)
                        createFile('{{ point }}', '{{ pwd }}', filename)
                    break;
                case 'upload':
                    if ('{{ legacy_mode }}' == 'active'){
                        upload_file.setAttribute('open', '')
                    } else {
                        upload_file.showModal()
                    }
                    
                    break;
            }
            this.value = 0;
        "
    >
        <option value="0">+ New</option>
        <option value="folder">New folder</option>
        <option value="file">New empty file</option>
        <option value="upload">Upload file</option>
    </select>
    <input id="searchBox" type="text" placeholder="Search in {{ folder_name }}" value="{{ search }}">
    <button onclick="window.location.href = `/point/{{ point }}?d={{pwd}}&search=${searchBox.value}`">Search</button>
</div>

<div class="path">
    <a href="/point/{{ point }}">Home</a>
    {% for dir in pwd.split("/")[1:] %}
        <span class="black-05">></span>
        {% if loop.index == pwd.split("/")|length - 1 %}
            <b>{{ dir }}</b>
        {% else %}
            <a href="/point/{{point}}?d={{ pwd.split('/')[0:loop.index + 1]|join('/') }}">{{ dir }}</a>
        {% endif %}
    {% endfor %}
</div>

<div class="list-view">
    <table cellspacing="0">
        <tr>
            <th style="width: 2%;"></th>
            <th style="width: 68%;">Name</th>
            <th style="width: 20%;">Last modified</th>
            <th style="width: 10%;">Size</th>
        </tr>
        {% for file in files %}
            <tr>
                <td class="flex-center">
                    {% if file[1]["type"] == "dir" %}
                        <span class="folder">
                    {% else %}
                        <span class="icon-{{ file[1]['ext'] }}">
                    {% endif %}
                </td>
                <td>
                    <div class="file">
                        {% if file[1]["type"] == "dir" %}
                            <a href="/point/{{ point }}?d={{ pwd }}/{{ file[0] }}">{{ file[0] }}</a>
                        {% else %}
                            <a href="/open/{{ point }}?path={{ pwd }}&filename={{ file[0] }}" target="_blank">{{ file[0] }}</a>
                        {% endif %}

                        <select path="{{ pwd }}/{{ file[0] }}"
                            onchange="
                                let path = this.getAttribute('path')
                                switch(this.value){
                                    case 'open':
                                        window.open(`/open/{{ point }}?path={{ pwd }}&filename={{ file[0] }}`, '_blank')
                                        break;
                                    case 'edit':
                                        window.open(`/edit/{{ point }}?path={{ pwd }}&filename={{ file[0] }}`, '_blank')
                                        break;
                                    case 'download':
                                        window.open(`/download/{{ point }}?path={{ pwd }}&filename={{ file[0] }}`, '_blank')
                                        break;
                                    case 'rename':
                                        let filename = filenamePrompt('Enter new name:', '{{ file[0] }}')
                                        if (filename)
                                            renameFile('{{ point }}', '{{ pwd }}', '{{ file[0] }}', filename)
                                        break;
                                    case 'delete':
                                        if (confirm(`Are you sure you want to delete '{{ file[0] }}'?`))
                                            deleteFile('{{ point }}', '{{ pwd }}/{{ file[0] }}')
                                        break;
                                }
                                this.value = 0;
                            "
                        >
                            
                        
                        <option value="0"> - Actions - </option>

                            {% if file[1]["type"] == "dir" %}

                            {% else %}

                                <optgroup label="{{ '-'*50 }}">
                                    <option value="open">Open</option>
                                    <option value="edit">Edit</option>
                                    <option value="download">Download</option>
                                </optgroup>

                            {% endif %}

                            <optgroup label="{{ '-'*50 }}">
                                <option value="rename">Rename</option>
                                <option value="delete">Delete</option>
                            </optgroup>


                        </select>

                    </div>
                </td>
                <td>
                    {{ file[1]["modtime"] }}
                </td>
                <td>
                    {{ file[1]["h_size"] }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if files|length == 0 %}
        <h1 class="center unselectable">This folder is empty</h1>
    {% endif %}
</div>
{% for addon in addons["point"] %}
<script src="{{ addon }}" type="module"></script>
{% endfor %}
{% endblock %}
